In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kieta,PG,2021-08-09 04:04:38,-6.2167,155.6333,82.98,70,88,4.14
1,1,Ushuaia,AR,2021-08-09 04:01:54,-54.8000,-68.3000,36.23,95,100,8.23
2,2,Uruzgan,AF,2021-08-09 04:04:39,32.8333,66.0000,82.96,13,2,4.74
3,3,Energetik,RU,2021-08-09 04:04:39,51.7445,58.7934,67.14,61,53,7.38
4,4,Fortuna,US,2021-08-09 04:01:09,40.5982,-124.1573,59.09,68,1,3.00

In [3]:

#Check the data types to ensure lat/lon are integers or floats to work with gmaps
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
#Get the max temp
max_temp=city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.8)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps,dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:

#Heatmap of humidity
locations=city_data_df[["Lat","Lng"]]
humidity=city_data_df["Humidity"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,dissipating=False, max_intensity=300,point_radius=4)
#Add the heatmap to the figure and call the figure
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Heatmap of cloudiness
locations=city_data_df[["Lat","Lng"]]
cloudiness=city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=cloudiness,dissipating=False,max_intensity=300,point_radius=4)
#Add the heatmap layer and call the figure
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
#Heatmap of cloudiness
locations=city_data_df[["Lat","Lng"]]
wind=city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind,dissipating=False,max_intensity=300,point_radius=4)
#Add the heatmap layer and call the figure
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kieta,PG,2021-08-09 04:04:38,-6.2167,155.6333,82.98,70,88,4.14
2,2,Uruzgan,AF,2021-08-09 04:04:39,32.8333,66.0000,82.96,13,2,4.74
7,7,Beyneu,KZ,2021-08-09 04:02:06,45.3167,55.2000,89.13,18,0,12.53
11,11,Sitia,GR,2021-08-09 04:01:50,35.2000,26.0986,78.35,67,0,20.09
12,12,Romitan,UZ,2021-08-09 04:04:42,39.9343,64.3814,80.55,26,0,16.11
18,18,Laguna,US,2021-08-09 04:04:44,38.4210,-121.4238,84.70,53,1,8.05
19,19,Tura,IN,2021-08-09 04:04:44,25.5198,90.2201,79.63,91,98,6.08
20,20,Kamenka,RU,2021-08-09 04:04:44,51.3223,42.7678,78.15,35,100,15.19
23,23,Tanout,NE,2021-08-09 04:02:55,14.9709,8.8879,81.27,62,93,5.95
24,24,Hilo,US,2021-08-09 04:00:24,19.7297,-155.0900,77.18,83,53,1.99

In [15]:

preferred_cities_df.count()

City_ID       198
City          198
Country       198
Date          198
Lat           198
Lng           198
Max Temp      198
Humidity      198
Cloudiness    198
Wind Speed    198
dtype: int64

In [16]:
#Create dataframe called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df=preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

       City Country  Max Temp      Lat       Lng Hotel Name
0     Kieta      PG     82.98  -6.2167  155.6333
2   Uruzgan      AF     82.96  32.8333   66.0000
7    Beyneu      KZ     89.13  45.3167   55.2000
11    Sitia      GR     78.35  35.2000   26.0986
12  Romitan      UZ     80.55  39.9343   64.3814
18   Laguna      US     84.70  38.4210 -121.4238
19     Tura      IN     79.63  25.5198   90.2201
20  Kamenka      RU     78.15  51.3223   42.7678
23   Tanout      NE     81.27  14.9709    8.8879
24     Hilo      US     77.18  19.7297 -155.0900

In [17]:
#Set parameters to search for a hotel
params={
    "radius":5000,
    "type":"lodging",
    "key":g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kieta,PG,82.98,-6.2167,155.6333,Uruna Bay Retreat
2,Uruzgan,AF,82.96,32.8333,66.0000,
7,Beyneu,KZ,89.13,45.3167,55.2000,NUR
11,Sitia,GR,78.35,35.2000,26.0986,Sitia Bay
12,Romitan,UZ,80.55,39.9343,64.3814,Hotel Temur
18,Laguna,US,84.70,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
19,Tura,IN,79.63,25.5198,90.2201,Hotel RIKMAN Continental
20,Kamenka,RU,78.15,51.3223,42.7678,
23,Tanout,NE,81.27,14.9709,8.8879,
24,Hilo,US,77.18,19.7297,-155.0900,Hilo Hawaiian Hotel

In [19]:

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))